@page
@model AjaxPagingModel
@using  System.Globalization
@{
    ViewData["Title"] = "Ajax Paging";
}
<h1>Ajax Paging</h1>
<form method="get" class="form-inline">
    <input asp-for="Q" class="form-control" />

    @*
        select-enum is a tag helper that ships with LazZiya.TagHelper
        for more details see: http://www.ziyad.info/en/articles/28-Select_Enum_TagHelper_for_ASP_NET_Core
    *@
    <select asp-for="CT" class="form-control">
        @foreach (var ct in Enum.GetNames(typeof(CultureTypes)).OrderBy(x => x))
        {
            <option>@ct</option>
        }
    </select>
    <button type="submit" class="btn btn-primary">Search</button>

    @*
        add hidden field for page size parameter,
        so if we can keep search filters if page size is changed
    *@
    <input type="hidden" asp-for="S" />
</form>

<div id="items">
    <partial name="ItemsPartial" />
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(function () {

        });

        failed = function (xhr) {
            alert(`Status: {xhr.status}, Status Text: {xhr.statusText}`);
        };
    </script>
}